<!-- Day6 -->
<div class="col-md-5 mx-auto">
  <div class="small fw-light">search with CategoryID</div>
  <div class="input-group">
    <!-- template reference => #test -->
    <input class="form-control border-end-0 border rounded-pill" type="text"
      id="example-search-input" #searchvalue>
    <span class="input-group-append">
      <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button" (click)="searchFunc(searchvalue.value)">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>


<ul>
  @for (item of searchResult; track $index) {
    <li>{{$index+1}}- {{item.name}}</li>
  }
</ul>
<!-- ################### -->

@if(product){
    <div class="row m-4 justify-content-center">
      <div class="col-sm-6 ">
        <h4>
          @switch (product.quantity) {
            @case (0) {
  
             Out of stock
            }
            @case (1) {
  
              Only one left!
            }
            @case (2) {
  
              Only Two left!
            }
            @default {
              In stock
            }
          }
        </h4>
        <img [src]="product.imageUrl" class="img-fluid rounded-top">
  
  
      </div>
      <div class="col-sm-6 my-5">
  
  
        <h1>{{product.name}}</h1>
        <h3>Price: {{product.price | currency:'USD':'symbol'}}</h3>
        <h3>Quantity: {{product.quantity}}</h3>
        <h4>Description: {{product.description}}</h4>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-info"
      (click)="goBackFunc()"
    >
      Button
    </button>
    
}
<div class="d-flex justify-content-center" role="group" aria-label="Basic example">
  <button class="border-0" (click)="prevFunc()" [disabled]="prdID==IDsList[0]"><i class="fa-solid fa-angles-left fs-4 text-primary"></i></button>
  <button class="border-0" (click)="nextFunc()" [disabled]="prdID==IDsList[IDsList.length-1]"><i class="fa-solid fa-angles-right fs-4"></i></button>
</div>