<div class="container" data-bs-target="#TableOfContents" >
  <!-- header -->
  <div class="row justify-content-center">
    <app-header></app-header>
  </div>
  <!-- Navbar 
  <div class="row">
    <app-navbar></app-navbar>
  </div> -->

  <!-- products-container
  <div class="row">
    <div>
      <h2>Featured Products</h2>
      <app-products-parent></app-products-parent>
      <app-products></app-products>
    </div>
  </div> -->

  <router-outlet></router-outlet>
  
  <!-- footer -->
  <div class="row justify-content-center align-items-center g-2">
    <app-footer></app-footer>
  </div>

</div>